.docket-group {
	display: grid;
	grid-template-columns: 1fr 2em 3fr 2em 2fr 2em 3fr;
	margin-bottom: 2em;
}

.docket-group .nomargin {
	margin: 0;
}

.docket-group .seperator {
	margin-top: 0.5em;
	text-align: center;
}
