.subscription {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 36.5em;
	max-height: 50em;
	padding: 2em;
}

.court-group {
	display: grid;
	grid-template-columns: 2fr 1em 1fr;
	margin-bottom: 2em;
}

.court-category {
	width: 100%;
}

.docket-group {
	width: 100%;
	margin-bottom: 2em;
}

.docket-group .full-width {
	width: 100%;
}

.subscription .nomargin {
	margin: 0;
}
