.subscription {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 36.5em;
	max-height: 50em;
}

.court-group {
	display: grid;
	grid-template-columns: 2fr 1em 1fr;
	margin-bottom: 2em;
}

.court-category {
	width: 100%;
}
