header.app-header {
  display: flex;
}

ul {
  list-style: none;
  text-align: left;
  flex-grow: 1;
}

li {
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Duru Sans";
  padding: 10px;
}

a {
  color: #3E82F7;
  text-decoration: none;
}
