header.app-header {
  display: flex;
}

ul {
  list-style: none;
  text-align: left;
  flex-grow: 1;
}

li {
  display: inline-block;
  font-size: 0.8rem;
  padding: 10px;
}

a {
  color: #3E82F7;
  text-decoration: none;
}

.loginBtn {
  font-size: 0.8rem;
  margin-top: 16px;
  margin-right: 26px;
  padding: 10px;
  cursor: pointer;
}
